@import url(https://fonts.googleapis.com/css?family=Raleway);

$font-stack: 'Raleway', 'Arial', sans-serif;
$primary-font-size: 20px;
$primary-font-weight: 300;
$primary-font-color: #203a4d;
$primary-font-color-light: #ccc;
$primary-highlight-color: orange;
$color-screen-dev-section: rgba(#375cad, 0.65);
$color-link: #7b7b6a;
$background-color: #fff;

/* -- General Styles ------------------------ */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    color: $primary-font-color;
    font-family: $font-stack;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
p {
    line-height: 140%;
}

/* -- Grid Columns -------------------------- */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* -- Links --------------------------------- */
a:link,
a:visited {
    color: $primary-font-color;
    text-decoration: none;
}

a:hover,
a:active {
    color: $primary-font-color;
}

/* -- Headings ------------------------------ */

h1, h2, h3 {
    font-weight: $primary-font-weight;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-font-color;
    font-weight: 100;
    font-size: 270%;
    letter-spacing: 1px;
}

/* -- Background ---------------------------- */
.fixed-background {
    position: fixed;
    background: -webkit-linear-gradient(transparent 50%, #ffffff), $background-color;
    background: -webkit-linear-gradient(transparent 50%, #ffffff), #ffffff;
    background: linear-gradient(rgb(252, 191, 134), transparent 70%), #ffffff;
    height: 1200px;
    width: 100%;
    z-index:-5;
}


/* -- Header -------------------------------- */
.hero-text-box {
    position: relative;
    width: 100vw;
    padding-top: 260px;
    padding-bottom: 260px;
    text-align: center;
}
.hero-list {
  padding: 40px 0px;
}
.hero-list > li {
    display: inline-block;
}

.hero-subtitle {
    width:100%;
    list-style: none;
    padding-top: 10px;
    li {
        display: inline-block;
        color: $primary-font-color;
        font-size: 128%;
        padding-right: 8px;
    }
}



.hero-icons {
    list-style: none;
    margin-left: 100px;

    li {
        padding-right: 60px;
        display: inline-block;

        .icon-div {
            display:block;
            margin: auto;
            position:relative;
            width:60px;
            height: 60px;
            vertical-align: middle;
            overflow:hidden;
            margin-bottom: 10px;
        }
        .icon-text {
            font-size: 128%;
        }


        a:link,
        a:visited{
            color: $primary-font-color;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
        }
        a:hover,
        a:active{
            color: $primary-highlight-color;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
        }
        a:link .icon,
        a:visited .icon {
          fill: $primary-font-color;
          -webkit-transition: fill 0.2s;
          transition: fill 0.2s;
        }
        a:hover .icon,
        a:active .icon {
          fill: $primary-highlight-color;
          -webkit-transition: fill 0.2s;
          transition: fill 0.2s;
        }
        a:link .icon-stroke,
        a:visited .icon-stroke {
          stroke: $primary-font-color;
          -webkit-transition: stroke 0.2s;
          transition: stroke 0.2s;
        }
        a:hover .icon-stroke,
        a:active .icon-stroke {
          stroke: $primary-highlight-color;
          -webkit-transition: stroke 0.2s;
          transition: stroke 0.2s;
        }
    }
}



/* -- Section: Introduction --------------------- */

.section-introduction {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
    color: $primary-font-color-light;
}

.svg-water {
    position: absolute;
    z-index: 1;
}

/* -- Buoy animation parameters ----------------- */
$buoy-left: 60;
$buoy-left-delta: 0.5;
$buoy-bottom: 93;
$buoy-bottom-delta: 0.1;

.buoy {
  position: absolute;
  width: 100px;
  height: 200px;
  z-index: 0;
  left: 60%;
  bottom: 93%;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  /*-webkit-animation: wobble 20s ease-in-out infinite, sway 16s ease-in-out infinite, heave 6s linear infinite;
  animation: wobble 20s ease-in-out infinite, sway 16s ease-in-out infinite, heave 6s linear infinite;*/
}
@-webkit-keyframes wobble {
  0% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  25% {-webkit-transform: rotate(-7deg);transform: rotate(-7deg);}
  50% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  75% {-webkit-transform: rotate(-13deg);transform: rotate(-13deg);}
  100% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
}
@keyframes wobble {
  0% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  25% {-webkit-transform: rotate(-7deg);transform: rotate(-7deg);}
  50% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  75% {-webkit-transform: rotate(-13deg);transform: rotate(-13deg);}
  100% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
}
@-webkit-keyframes sway {
  0% {left: percentage($buoy-left / 100);}
  25% {left: percentage(( $buoy-left + $buoy-left-delta)/100);}
  50% {left: percentage($buoy-left / 100);}
  75% {left: percentage(( $buoy-left - $buoy-left-delta)/100);}
  100% {left: percentage($buoy-left / 100);}
}
@keyframes sway {
  0% {left: percentage($buoy-left / 100);}
  25% {left: percentage(( $buoy-left + $buoy-left-delta)/100);}
  50% {left: percentage($buoy-left / 100);}
  75% {left: percentage(( $buoy-left - $buoy-left-delta)/100);}
  100% {left: percentage($buoy-left / 100);}
}
@-webkit-keyframes heave {
  0% {bottom: percentage($buoy-bottom / 100);}
  25% {bottom: percentage(( $buoy-bottom + $buoy-bottom-delta)/100);}
  50% {bottom: percentage($buoy-bottom / 100);}
  75% {bottom: percentage(( $buoy-bottom + $buoy-bottom-delta)/100);}
  100% {bottom: percentage($buoy-bottom / 100);}
}
@keyframes heave {
  0% {bottom: percentage($buoy-bottom / 100);}
  25% {bottom: percentage(( $buoy-bottom + $buoy-bottom-delta)/100);}
  50% {bottom: percentage($buoy-bottom / 100);}
  75% {bottom: percentage(( $buoy-bottom + $buoy-bottom-delta)/100);}
  100% {bottom: percentage($buoy-bottom / 100);}
}

.bird-standing {
  position: relative;
  width: 36px;
  -webkit-transform: translate(34px, -175px);
  transform: translate(34px, -175px);
}

.bird-flight{
  position: relative;
  width: 36px;
  -webkit-transform: translate(34px, -175px);
  transform: translate(34px, -175px);
  -webkit-animation: fly 5s ease;
  animation: fly 5s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fly {
  from {-webkit-transform: translateX(34px) translateY(-175px) rotate(0deg);transform: translateX(34px) translateY(-175px) rotate(0deg);}
  to {-webkit-transform: translateX(-1500px) translateY(-650px) rotate(30deg);transform: translateX(-1500px) translateY(-650px) rotate(30deg)};
}
@keyframes fly {
  from {-webkit-transform: translateX(34px) translateY(-175px) rotate(0deg);transform: translateX(34px) translateY(-175px) rotate(0deg);}
  to {-webkit-transform: translateX(-1500px) translateY(-650px) rotate(30deg);transform: translateX(-1500px) translateY(-650px) rotate(30deg)};
}

.submarine {
    position: absolute;
    z-index: 0;
    width: 105vw;
    -webkit-transform: translate(-3%, 55%);
    transform: translate(-3%, 55%);
}

.introduction-content {
    position: absolute;
    //bottom: 120px;
    left: 10%;
    width: 85%;
    max-width: 600px;
    text-align: left;
    z-index: 2;
    h2 {
        color: $primary-highlight-color;
        padding-top: 180px;
        padding-bottom: 20px;
    }
    p {
        padding-bottom: 20px;
        max-width: 600px;
    }

    .intro-ticked-list {
        list-style: none;
        padding-bottom:40px;
        padding-left: 0px;
        line-height: 140%;
        font-size: 90%;
        li:before {
            content: "» ";
            font-size: 80%;
            color: $primary-highlight-color;
        }
    }

    .pic-sig-wrapper:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    .profile-pic {
        display: inline-block;
        vertical-align: middle;
        img {
          display: block;
          width: 140px;
          border: 2px solid $primary-highlight-color;
          border-radius: 3px;
        }
    }

    .intro-signature {
        display:inline-block;
        vertical-align: middle;
        padding-left: 50px;
        p {
          display:block;
          text-align: center;
          font-size: 140%;
        }
        .btn-code:link,
        .btn-code:visited {
          display:block;
          width: 260px;
          text-align: center;
          padding: 10px;
          border: solid 1px white;
          border-radius: 3px;
          color: $primary-highlight-color;
          -webkit-transition: border 0.2s;
          transition: border 0.2s;
        }
        .btn-code:hover,
        .btn-code:active {
          border: solid 1px $primary-highlight-color;
          -webkit-transition: border 0.2s;
          transition: border 0.2s;
        }
    }
}



/* -- Section: Portfolio -------------------- */
.section-portfolio>h1 {
  color: $primary-font-color;
  position: absolute;
  left: 8%;
  top: 100px;
}
.section-portfolio {
  position: relative;
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid $primary-font-color;
  width: 100%;
  min-height: 1660px;
  background: url(../images/mountains-right.png) bottom right no-repeat, url(../images/mountains-left.png) bottom left no-repeat, -webkit-linear-gradient($color-screen-dev-section, rgba(#fff, .85) 50%), url(../images/PixelPattern.png);
  background: url(../images/mountains-right.png) bottom right no-repeat, url(../images/mountains-left.png) bottom left no-repeat, linear-gradient($color-screen-dev-section, rgba(#fff, .85) 50%), url(../images/PixelPattern.png);
  background-size: 66% 66%, 66% 45%, auto, auto;
  .preload {
    display: none;
  }
  .active-card-hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 10;
    -webkit-animation: hide 0.4s, shrink 0.01s;
    animation: hide 0.4s, shrink 0.01s;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-delay: 0s, 0.4s;
    animation-delay: 0s, 0.4s;
  }
  @-webkit-keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  @keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  @-webkit-keyframes shrink {
    from {-webkit-transform: scale(1);transform: scale(1);}
    to {-webkit-transform: scale(0);transform: scale(0);}
  }
  @keyframes shrink {
    from {-webkit-transform: scale(1);transform: scale(1);}
    to {-webkit-transform: scale(0);transform: scale(0);}
  }

  .active-card-visible {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: show 0.4s;
    animation: show 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/dot.png),rgba(#21212d, 0.95);
    background-size: 3px, auto;
  }
  .card-content-container {
    position: absolute;
    left: 4%;
    top: 2%;
    padding-bottom: 0px;
    background: url(../images/dot.png), rgba(#4b4c57, 0.98);
    background-size: 3px, auto;
    border: 1px solid $primary-highlight-color;
    width: 92%;
    .relative-div {
      position: relative;
      width: 100%;
      height: 100%;
      h1{
        text-overflow: ellipsis;
        padding: 24px 0 24px 4%;
        overflow: hidden;
        background: rgba(#171824, 0.3);
        border-bottom: 1px solid #555;
      }
      .close-button:link,
      .close-button:visited {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 85%;
        padding: 3px;
        border: 1px solid $color-link;
        border-radius: 50%;
        color: $color-link;
      }
      .close-button:active,
      .close-button:hover {
        border: 1px solid white;
        color: white;
      }

      .active-card-image {
        display:inline-block;
        margin: auto;
        width: 70%;
      }
      img{
        width: 100%;
      }
      .active-card-description {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        padding: 20px;
        color: $primary-font-color-light;
        p {
          margin-bottom: 10px;
        }
        p:last-of-type{
          margin-bottom: 20px;
        }
        .external-link {
          line-height: 140%;
        }
        a:link,
        a:visited {
          color: $primary-font-color-light;
        }

        a:active,
        a:hover {
          color: $primary-highlight-color;
        }
      }
    }

  }

  .card-list {
    position: absolute;
    //border: 1px solid #555;
    left: 4%;
    right: 4%;
    top: 200px;
    width: auto;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      margin: 2%;
      width: 20%;
      background: rgba(#555555, 0.1);
      vertical-align: top;
      overflow: hidden;

      .card-container {
        border: 1px solid #555;
        -webkit-transition: border 0.2s;
        transition: border 0.2s;
        img {
          display: block;
          width: 100%;
        }
        .title-container {
          background: url(../images/dot.png), #4b4c57;
          background-size: 3px, auto;
          opacity: 0.75;
          height: 100px;
          -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
          p {
            text-overflow:ellipsis;
            width: 100%;
            padding: 6%;
            text-align: center;
            font-size: 128%;
            color: $primary-font-color-light;
            overflow: hidden;
          }
        }
      }
    }
    li:active,
    li:hover {
      .card-container {
        border: 1px solid $primary-highlight-color;
        -webkit-transition: border 0.2s;
        transition: border 0.2s;
        p {
          opacity: .85;
          color: $primary-highlight-color;
          -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
        }
      }
    }
  }
}

/* -- Section: Contact -------------------- */
.section-contact {
  position: relative;
  height: 800px;
  width: 100%;

  .contact-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 160px;
    .contact-prefix {
      color: $primary-highlight-color;
    }
    p {
      padding-bottom: 10px;
    }
    p:first-of-type {
      margin-top: 10px;
    }
  }
}
/* -- Media Queries ------------------------- */
@media only screen and (max-width: 1300px) {
    .hero-list > li{
        display: block;
    }

    .hero-icons {
        margin-left: 0px;
        margin-top: 10px;
        padding-top: 20px;
        li {
            padding-right: 20px;
            .icon-div {
              //margin-top: 20px;
              //width:50px;
              //height: 50px;
              display:block;
              margin: auto;
              width:30px;
              height: 30px;
              vertical-align: middle;
              overflow:hidden;
              margin-bottom: 10px;
            }
        }
        li:last-of-type {
          padding-right: 0px;
        }
    }
    .section-portfolio {

      min-height: 2000px;
        .card-content-container {
          .relative-div {
            .active-card-image {
              width: 100%;
            }
            .active-card-description {
              width: 100%;
            }
          }

        }
        .card-list {
          li {
            width: 28%;
          }
        }
    }
}


/* Small phones: from 481 to 640px */
@media only screen and (max-width: 640px) {
    .hero-text-box {
        text-align: center;
        padding-left: 0;
        padding-top: 120px;
        padding-bottom: 240px;
    }

    .hero-subtitle {
        padding-top: 10px;
    }
    .hero-icons {
        padding-top: 20px;
        li {
            .icon-div {
                display:block;
                margin: auto;
                width:30px;
                height: 30px;
                vertical-align: middle;
                overflow:hidden;
                margin-bottom: 10px;
            }
        }
    }

    .submarine {
        -webkit-transform: translate(-5%,120%);
        transform: translate(-5%,120%);
    }
    .section-portfolio>h1 {
      left: 4%;
      font-size: 200%;
      font-weight: 300;
    }
    .section-portfolio {
      background-size: 80% 33%, 80% 25%, auto, auto;
      min-height: 1800px;

      .card-list {
        li {
          width: 44%;
        }
      }
    }
    .section-contact {
      h1 {
        font-size: 200%;
      }
      font-size: 90%;
      .contact-container {
        position: absolute;
        left: 10%;
        width: 94%;
      }
    }
}

@media only screen and (max-width: 546px) {
  .introduction-content{
    .pic-sig-wrapper:before {
      display: block;
    }
    .profile-pic {
        display: block;
    }

    .intro-signature {
        display:block;
        padding-left: 0px;
        padding-top: 20px;
        p {
          display:block;
          text-align: left;
          font-size: 140%;
        }

    }
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .hero-text-box {
    font-size: 70%;
    padding-top: 80px;
    padding-bottom: 200px;
  }
  .introduction-content {
    font-size: 90%;
  }
}
